@model myRemiza.Models.Sprzet

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytuj</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nazwa" class="control-label">Nazwa</label>
                <input asp-for="Nazwa" class="form-control" />
                <span asp-validation-for="Nazwa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firma" class="control-label">Firma</label>
                <input asp-for="Firma" class="form-control" />
                <span asp-validation-for="Firma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rodzaj" class="control-label">Rodzaj</label>
                <input asp-for="Rodzaj" class="form-control" />
                <span asp-validation-for="Rodzaj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nr_seryjny" class="control-label">Numer seryjny</label>
                <input asp-for="Nr_seryjny" class="form-control" />
                <span asp-validation-for="Nr_seryjny" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Data_pozyskania" class="control-label">Data pozyskania</label>
                <input asp-for="Data_pozyskania" class="form-control" />
                <span asp-validation-for="Data_pozyskania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_Przegladu" class="control-label">Data przeglądu</label>
                <input asp-for="Data_Przegladu" class="form-control" />
                <span asp-validation-for="Data_Przegladu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MagazynId" class="control-label">Miejsce przechowywania</label>
                <select asp-for="MagazynId" class="form-control" asp-items="@(new SelectList(ViewBag.Magazyn, "Key", "Value"))"></select>
                <span asp-validation-for="MagazynId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
