@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">myRemiza</h1>
    <p>Aplikacja ma na celu wspomóc zarządzanie jednostkami Ochotniczych Straży Pożarnych</p>
</div>
