@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Pdmowa dostępu";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Nie masz dostępu do tych treści</p>
</header>
